html {
  -webkit-app-region: drag;
}
body {
  color: #CCCCCC;
  background-color: #2D2D30;
  font-family: "Roboto Condensed";
}
body {
  margin: 40px auto;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px
}
h1, h2, h3 {
  line-height: 1.2
}
